
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ABOUT/Prashum</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Website Template by FreeHTML5.co" />
	<meta name="keywords" content="free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
	<meta name="author" content="FreeHTML5.co" />


	

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="favicon.ico">

	<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">
	
	<!-- Animate.css -->
	<link rel="stylesheet" type="text/css" href="/stylesheets/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" type="text/css" href="/stylesheets/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css">
	<!-- Flexslider  -->
	<link rel="stylesheet" type="text/css" href="/stylesheets/flexslider.css">
	<!-- Theme style  -->
	<link rel="stylesheet" type="text/css" href="/stylesheets/styledata.css">

	<!-- Modernizr JS -->
	<script src="javascripts/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>
	<div id="fh5co-page">
		<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle"><i></i></a>
		<aside id="fh5co-aside" role="complementary" class="border js-fullheight">

			<h1 id="fh5co-logo"><a href="/">CONTACT ABOUT US</a></h1>
			<nav id="fh5co-main-menu" role="navigation">
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/data" onclick="blogClick()">Blog</a></li>
					<li><a href="/news" onclick="newsClick()">News</a></li>
					<li class="fh5co-active"><a href="/about">About</a></li>
				</ul>
			</nav>

			<!-- <div class="fh5co-footer">
				<p><small>&copy; 2016 Blend Free HTML5. All Rights Reserved.</span> <span>Designed by <a href="http://freehtml5.co/" target="_blank">FreeHTML5.co</a> </span> <span>Demo Images: <a href="https://unsplash.com/" target="_blank">Unsplash</a></span></small></p>
				<ul>
					<li><a href="#"><i class="icon-facebook2"></i></a></li>
					<li><a href="#"><i class="icon-twitter2"></i></a></li>
					<li><a href="#"><i class="icon-instagram"></i></a></li>
					<li><a href="#"><i class="icon-linkedin2"></i></a></li>
				</ul>
			</div> -->

		</aside>
		<style>
			#more {display: none;}
		</style>


		<div id="fh5co-main">
			<div class="fh5co-narrow-content">
				<h2 class="fh5co-heading animate-box" data-animate-effect="fadeInLeft">OUR TEAM</h2>
				<h3><a href="/news"> ทำไมเราถึงต้องอนุรักษ์ประการ</a></h3>
				<h3>เว็บไซต์ของเรา ได้นำเอาสาระความรู้มาเพื่อสร้างสรรประโยชน์ ในการอนุรักษ์ธรรมชาติโดยเฉพาะปะการัง เพื่อสร้างจิตสำนึกในคุณค่าชีวิต ที่ได้รับมาจากธรรมชาติอันยิ่งใหญ่ เพื่อให้ทรัพยากรทางธรรมชาติคงอยู่
				</h3>
				<div class="row row-bottom-padded-md">
					<div class="col-md-2 col-sm-2 col-padding animate-box" data-animate-effect="fadeInLeft">
						<div class="blog-entry">
							<a href="https://www.facebook.com/khunuch.keawkarnjana.5" class="blog-img"><img src="https://scontent.fbkk26-1.fna.fbcdn.net/v/t1.0-9/92419181_826776467834628_1161146006201434112_n.jpg?_nc_cat=106&_nc_sid=85a577&_nc_ohc=tWLXtJrgmIMAX93dIlq&_nc_ht=scontent.fbkk26-1.fna&oh=aae42172973711dfd02bb88c7ffcefd0&oe=5EB6F48C" class="img-responsive" alt="Khunuch Keawkarnjana"></a>
							<div class="desc">
								<h4><a href="https://www.facebook.com/khunuch.keawkarnjana.5">Khunuch Keawkarnjana</a></h4>
								<p class="title">instagram : guunkn</p>	
								
								<!-- <p>Email : Khunuch.keawkarnjana@g.swu.ac.th</p> -->
								
													
								
							</div>
						</div>
					</div>

					<div class="col-md-2 col-sm-2 col-padding animate-box" data-animate-effect="fadeInLeft">
						<div class="blog-entry">
							<a href="https://www.facebook.com/kanoon.chama" class="blog-img"><img src="https://scontent.fbkk26-1.fna.fbcdn.net/v/t1.0-9/81386492_2682644295162994_6084555987853770752_n.jpg?_nc_cat=108&_nc_sid=85a577&_nc_ohc=FiAWkKOVK10AX_Cv3yy&_nc_ht=scontent.fbkk26-1.fna&oh=38f984f2e5a8d4f34e8a25b48a251567&oe=5EB85D22" class="img-responsive" alt="Chama Moonnee"></a>
							<div class="desc">
                                <h4><a href="https://www.facebook.com/kanoon.chama">Chama Moonnee</a></h4>
								<p class="title">instagram : kanoonchm</p>
								<!-- <p>chama.moonnee@g.swu.ac.th</p> -->
							</div>
						</div>
					</div>
					
					
					<div class="col-md-2 col-sm-2 col-padding animate-box" data-animate-effect="fadeInLeft">
						<div class="blog-entry">
							<a href="https://www.facebook.com/KKAAEEWW" class="blog-img"><img src="https://scontent.fbkk26-1.fna.fbcdn.net/v/t1.0-9/s960x960/83788981_3960760500616835_5158309955048046592_o.jpg?_nc_cat=103&_nc_sid=85a577&_nc_ohc=ZqKw0WAArWkAX88FQ1u&_nc_ht=scontent.fbkk26-1.fna&_nc_tp=7&oh=e433aff81f75ef306cb687473a508560&oe=5EB8018F" class="img-responsive" alt="Pulipach Manmungsin"></a>
							<div class="desc">
								<h4><a href="https://www.facebook.com/KKAAEEWW">Pulipach Manmungsin</a></h4>
								<p class="title">instagram : pulipach</p>
								<!-- <p>pulipach.manmungsin@g.swu.ac.th</p> -->

							</div>
						</div>
					</div>
						
 

				</div>
			</div>
		
			
		</div>
	</div>

	<!-- jQuery -->
	<script src="javascripts/jquery.min.js"></script>
	<!-- Waypoints -->
	<script src="javascripts/jquery.waypoints.min.js"></script>
	<!-- jQuery Easing -->
	<script src="javascripts/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="javascripts/bootstrap.min.js"></script>
	<!-- Flexslider -->
	<script src="javascripts/jquery.flexslider-min.js"></script>
	
	
	<!-- MAIN JS -->
	<script src="javascripts/main.js"></script>

	</body>
</html>

