<!DOCTYPE html>
<html>
<head>
   <link rel = "stylesheet" type="text/css" href="/stylesheets/style.css" />
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
   <title>HOME/Prashum</title>
</head>
<style> /* for stay in touch */
   /* Button used to open the contact form - fixed at the bottom of the page */
   .open-button {
     background-color: #555;
     color: white;
     padding: 16px 20px;
     border: none;
     cursor: pointer;
     opacity: 0.8;
     position: fixed;
     bottom: 23px;
     right: 28px;
     width: 280px;
   }
   
   /* The popup form - hidden by default */
   .form-popup {
     display: none;
     position: fixed;
     bottom: 0;
     right: 15px;
     border: 3px solid #f1f1f1;
     z-index: 9;
   }
   
   /* Add styles to the form container */
   .form-container {
     max-width: 300px;
     padding: 10px;
     background-color: white;
   }
   
   /* Full-width input fields */
   .form-container input[type=text], .form-container input[type=password] {
     width: 100%;
     padding: 15px;
     margin: 5px 0 22px 0;
     border: none;
     background: #f1f1f1;
   }
   
   /* When the inputs get focus, do something */
   .form-container input[type=text]:focus, .form-container input[type=password]:focus {
     background-color: #ddd;
     outline: none;
   }
   
   /* Set a style for the submit/login button */
   .form-container .btn {
     background-color: #4CAF50;
     color: white;
     padding: 16px 20px;
     border: none;
     cursor: pointer;
     width: 100%;
     margin-bottom:10px;
     opacity: 0.8;
   }
   
   /* Add a red background color to the cancel button */
   .form-container .cancel {
     background-color: red;
   }
   
   /* Add some hover effects to buttons */
   .form-container .btn:hover, .open-button:hover {
     opacity: 1;
   }
   </style>
<body>
  <header>
       <div class="topnav" id="myTopnav">
	        
                 <a href="/" >Home</a>
                 <a href="/data" >Blog</a>
                 <a href="/news">News</a>
                 <button class="open-button" onclick="openForm()">STAY IN TOUCH</button>
                 <a href="/about">About</a>
                 <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                    <i class="fa fa-bars"></i>
                 </a>
			
       </div>
	   <div class="aside-left">
	      <h3 align="center"> side bar </h3>
	   </div>  
	<main>
	  <iframe  width="550" height="315" src="https://www.youtube.com/embed/242vVlGFOTM" frameborder="2" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
	  </iframe>
	  
	  
	</main>
    <aside>
          <h2>place here</h2>
          <h4>bah bah bah here</h4>
    </aside>
    <footer>
	      <div class="left-footer" >
	          <p align="center">Something show here</p>
		  </div>  
		  <div class="center-footer">
		      <p align="center"> Center here</p>
			  
		  </div>  
		  <div class="right-footer">
		      <p align="center"> </p>
			  <iframe src = "https://themomentum.co/interview-alex-rendell-eec-thailand/" width = "320" height = "400">
         
      </iframe>
		  </div>
          
      <div class="form-popup" id="myForm">
         <form action="/" class="form-container" method="POST">
           <h4>Stay in Touch</h4>
           
           <label for="email"><b>Email</b></label>
           <input type="text" placeholder="Enter Email" name="email" required>
       
           <label for="name"><b>Name</b></label>
           <input type="text" placeholder="Enter Name" name="name" required>
       

           <button type="submit" class="btn">Submit</button>
           <button type="submit" class="btn cancel" onclick="closeForm()">Close</button>
         </form>
      </div>

       <script>
       function openForm() {
         document.getElementById("myForm").style.display = "block";
        }
       
       function closeForm() {
         document.getElementById("myForm").style.display = "none";
        }
       </script>       		  
    </footer>   
	
  </header>  
 </body>
</html>  