<!DOCTYPE html>
<html>
<head>
   <link rel = "stylesheet" type="text/css" href="/stylesheets/style.css" />
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
   <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta+Stencil"/>
   <title>HOME/Prashum</title>
</head>
<style> /* for stay in touch */
   /* Button used to open the contact form - fixed at the bottom of the page */
   .open-button {
     background-color: #555;
     color: white;
     padding: 16px 20px;
     border: none;
     cursor: pointer;
     opacity: 0.8;
     position: fixed;
     bottom: 23px;
     right: 28px;
     width: 280px;
   }
   
   /* The popup form - hidden by default */
   .form-popup {
     display: none;
     position: fixed;
     bottom: 0;
     right: 15px;
     border: 3px solid #f1f1f1;
     z-index: 9;
   }
   
   /* Add styles to the form container */
   .form-container {
     max-width: 300px;
     padding: 10px;
     background-color: white;
   }
   
   /* Full-width input fields */
   .form-container input[type=text], .form-container input[type=password] {
     width: 100%;
     padding: 15px;
     margin: 5px 0 22px 0;
     border: none;
     background: #f1f1f1;
   }
   
   /* When the inputs get focus, do something */
   .form-container input[type=text]:focus, .form-container input[type=password]:focus {
     background-color: #ddd;
     outline: none;
   }
   
   /* Set a style for the submit/login button */
   .form-container .btn {
     background-color: #4CAF50;
     color: white;
     padding: 16px 20px;
     border: none;
     cursor: pointer;
     width: 100%;
     margin-bottom:10px;
     opacity: 0.8;
   }
   
   /* Add a red background color to the cancel button */
   .form-container .cancel {
     background-color: red;
   }
   
   /* Add some hover effects to buttons */
   .form-container .btn:hover, .open-button:hover {
     opacity: 1;
   }
   

   </style>
<body>
  <header>
       <div class="topnav" id="myTopnav">
	        
                 <a href="/" >Home</a>
                 <a href="/data" onclick="blogClick()">Blog</a>
                 <a href="/news" onclick="newsClick()">News</a>
                 <button class="open-button" onclick="openForm()">STAY IN TOUCH</button>
                 <a href="/map">Map</a>
                 <a href="/about">About</a>
                 <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                    <i class="fa fa-bars"></i>
                 </a>
			
       </div>
	   <div class="aside-left">
      <!-- Trigger the Modal -->
           <h2 style="color:#FFFFFF"; > ปัญหาของแนวปะการัง</h2>
          <img id="myImg" src="images/coral_problem01.jpg" alt="ปะการังฟอกขาว" width="100%" height="100%">
          <img id="myImg2" src="images/coral_problem02.jpg" alt="การระบาดของดาวมงกุฏหนาม" width="100%" height="100%">
<!-- The Modal -->
           <div id="myModal" class="modal">

  <!-- The Close Button -->
          <span class="close">&times;</span>

  <!-- Modal Content (The Image) -->
          <img class="modal-content" id="img01">

  <!-- Modal Caption (Image Text) -->
          <div id="caption">ปะการัง</div>
</div>
     </div>  
     
     
	<main>
	  <iframe  width="590" height="315" src="https://www.youtube.com/embed/242vVlGFOTM?autoplay=1" frameborder="2" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
	  </iframe>
	  
	  
	</main>
    <aside>
          <h2 style="color:#FFFFFF"; >จุดประสงค์ของ Prashum</h2>
          <p align="left" style="color:#FFFFFF";>-รณรงค์ให้ผู้คนสนใจมาอนุรักษ์ทรัพยการในทะเลมากขึ้น</p> 
          <p align="left" style="color:#FFFFFF";>-ให้คนรุ่นใหม่ได้เข้าถึงข้อมูลปัญหาของทะเลในเรื่องปัญหาของแนวปะการังได้ง่ายขึ้น</p>
          <p align="left" style="color:#FFFFFF";>-สร้างแรงบันดาลใจในการปกป้องธรรมชาติของท้องทะเลด้วยศูนย์อนุรักษ์สิ่งแวดล้อมหลายๆแห่ง</p>
    </aside>
    <footer>
	      <div class="left-footer" > 
          <!-- ดึงรายชื่อจากnode มาใส่ตรงนี้ -->
           <iframe src="/ThankYou"></iframe>
           <!-- <iframe src="/Number"></iframe>   -->
		  </div>  
		  <div class="center-footer" >
        <h5 align="center" style="font-size:25px;" >  </h5>
        <img src=https://upload.wikimedia.org/wikipedia/commons/thumb/2/2e/Coral_Outcrop_Flynn_Reef.jpg/800px-Coral_Outcrop_Flynn_Reef.jpg alt="Coral icon" width="360" height="250">
		      <p align="center"  >
            แนวปะการัง
            เป็นแนวหินปูนใต้ทะเลในระดับน้ำตื้นที่แสงแดดส่องถึง หินปูนดังกล่าวเป็นผลมาจากการเจริญเติบโตของปะการังหลายๆ ชนิด นอกจากนี้ 
            ยังมีสิ่งมีชีวิตอื่นๆ อีกหลายชนิดที่มีส่วนเสริมสร้างหินปูนพอกพูนสะสมในแนวปะการัง เช่น สาหร่ายหินปูน หอยที่มีเปลือกแข็ง ฯลฯ 
            ทั้งปะการังเองและสิ่งมีชีวิตที่สร้างหินปูนได้ เมื่อตายไปแล้วจะยังคงเหลือซากหินปูนทับถมพอกพูนต่อไป 
            เนื่องจากแนวปะการังประกอบด้วยปะการังหลายชนิดและปะการังแต่ละชนิดมีลักษณะโครงสร้างแตกต่างกันไป ทำให้โครงสร้างของแนวปะการังมีลักษณะซับซ้อน เต็มไปด้วยซอกหลืบเหมาะสมต่อการดำรงชีวิตสิ่งมีชีวิตต่างๆ เช่น ปลาชนิดต่าง ๆ 
            กุ้ง หอย ดาวทะเล ปลิงทะเล ฟองน้ำ ปะการังอ่อน กัลปังหา หนอนทะเล สาหร่ายทะเล เป็นต้น ทำให้แนวปะการังเป็นระบบนิเวศที่มีความซับซ้อน และมีความหลากหลายทางชีวภาพสูงที่สุดในทะเล 
            ความอุดมสมบูรณ์ของแนวปะการังดึงดูดให้มีการใช้ประโยชน์จากแนวปะการังมากขึ้นทั้งโดยตรงและโดยทางอ้อม 
            ทรัพยากรสัตว์น้ำนานาชนิดจากแนวปะการังถูกนำขึ้นมาใช้ประโยชน์และการท่องเที่ยวในแนวปะการังเป็นที่นิยมมากขึ้น</p>
			  
		  </div>  
		  <div class="right-footer">
          <p align="center"> </p>
          <h5 align="center" style="font-size:25px;" >  </h5>
			  <iframe src = "https://themomentum.co/interview-alex-rendell-eec-thailand/" width = "320" height = "690">
         
      </iframe>
		  </div>  
      <div class="form-popup" id="myForm">
         <form action="/" class="form-container" method="POST">
           <h4>Stay in Touch</h4>
           
           <label for="email"><b>Email</b></label>
           <input type="text" placeholder="Enter Email" name="email" required>
       
           <label for="name"><b>Name</b></label>
           <input type="text" placeholder="Enter Name" name="name" required>
       

           <button type="submit" class="btn">Submit</button>
           <button type="submit" class="btn cancel" onclick="closeForm()">Close</button>
         </form>
      </div>

       <script>
       function openForm() {
         document.getElementById("myForm").style.display = "block";
        }
       
       function closeForm() {
         document.getElementById("myForm").style.display = "none";
        }

       </script>       
    </footer>   
	
  </header>  
  <script>
    // Get the modal
    var modal = document.getElementById("myModal");
    
    // Get the image and insert it inside the modal - use its "alt" text as a caption
    var img = document.getElementById("myImg");
    var img2 = document.getElementById("myImg2");
    var modalImg = document.getElementById("img01");
    
    var captionText = document.getElementById("caption");
    img.onclick = function(){
      modal.style.display = "block";
      modalImg.src = this.src;
      captionText.innerHTML = this.alt;
    }
    img2.onclick = function(){
      modal.style.display = "block";
      modalImg.src = this.src;
      captionText.innerHTML = this.alt;
    }
    
    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];
    
    // When the user clicks on <span> (x), close the modal
    span.onclick = function() { 
      modal.style.display = "none";
    }
    </script>
 </body>
</html>  